<div class="container mx-auto p-8 rounded-lg shadow-md">
  <h1 class="text-3xl font-bold my-4 text-blue-700"><%= @pickup.name %></h1>
  <h2 class="text-xl font-semibold mb-2 text-gray-800"><%= @pickup.location %></h2>
  <p class="text-lg mb-2 text-gray-400"><%= @pickup.date %></p>
  <p class="text-lg mb-2 text-gray-400"><%= @pickup.time %></p>
  <p class="text-lg mb-2 text-green-400">Max People: <%= @pickup.max_people %></p>
  <p class="text-lg mb-4 text-red-400">Min People: <%= @pickup.min_people %></p>
</div>
